body {
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    max-width: 960px;
    margin: 0 auto;
}
h1{
  font-size: 36px;
  text-align:center;
}
h2 {
    font-size: 28px;
    padding: 20px 0px 20px 20px;
}
p {
  font-size: 20px;
  padding: 20px;
}
