body {
  font-size: 34px;
  margin: 5px;
  background-color: black;
  color: white;
  font-style: italic;
  width: auto;
}

h1{
  font-size: 32px;
  text-align:center;
}
h2{
  font-size: 24px;
}
p {
  font-size: 16px;
  padding: 50px;
  background-color: white;
  color: black;
}
