body {
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    max-width: 960px;
    margin: 0 auto;
}
h1{
  font-size: 36px;
  text-align:center;
}
h2 {
    font-size: 28px;
    padding: 20px;
}
p {
  font-size: 20px;
  padding: 20px;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.clear{
clear:both;
}
.main{
width:auto;
}
.top {
background-color: black;
color: white;
width:100%;
height: auto;
}
.left {
float:left;
width: 65%;
}
.right{
float:right;
width:35%;
}
